<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block 'title'%}{% endblock %}</title>
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/vanillaSelectBox.js' %}"></script>
    <script src="{% static 'js/scripts/app.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'styles/main_styles.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/vanillaSelectBox.css' %}">
</head>
<body>
<div id="app">
    {% block 'back' %}{% endblock %}
    {% block 'new' %}{% endblock %}
    {% block 'content'%}{% endblock %}
</div>
</body>
</html>