{% extends "polls/base.html" %}
{% block 'title' %}
Poll deleted {{ question.id }}
{% endblock %}
{% block 'back' %}
{% include "polls/main.html" %}
{% endblock %}
{% block 'content' %}
<!--<div class="datagrid">
    <table>
        <thead>
        <tr>
            <th>Question id</th>
            <th>Question text</th>
            <th>Question pub date</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.question_text }}</td>
            <td>{{ question.pub_date }}</td>
            <td>Update | <a href="../{{ question.id }}/delete">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>-->
{% endblock %}