{% extends "polls/base.html" %}
{% block 'title' %}
Polls details
{% endblock %}
{% block 'content' %}
{% if question %}
<div class="datagrid">
    <table>
        <thead>
        <tr>
            <th>Question id</th>
            <th>Question text</th>
            <th>Question pub date</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.question_text }}</td>
            <td>{{ question.pub_date }}</td>
            <td>Update | Delete</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
{% else %}
<p>No details are available. {{ question }}</p>
{% endif %}
{% endblock %}