{% extends "polls/base.html" %}
{% block 'title' %}
Polls details {{ question.id }}
{% endblock %}
{% block 'back' %}
{% include "polls/back.html" %}
{% endblock %}
{% block 'content' %}
<form action="{% url 'polls:add' %}" method="post">
<div class="datagrid back">
    <table>
        <thead>
        <tr>
            <th>Question Text</th>
            <th colspan="2">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <textarea name="text"></textarea>
            </td>
            <td colspan="2"><input type="datetime-local" name="date"></td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th>Language</th>
            <th>Type</th>
            <th>Choices</th>
        </tr>
        </thead>
        <tbody>
        <td>
            {% csrf_token %}
            {% if languages %}
            {% for lang in languages %}
            <input type="radio" name="lang" id="choice{{ forloop.counter }}" value="{{ lang.id }}">
            <label for="lang{{ forloop.counter }}">{{ lang.language_text }}</label><br>
            {% endfor %}
            {% else %}
            No languages are available
            {% endif %}
        </td>
        <td>
            {% csrf_token %}
            {% if types %}
            {% for type in types %}
            <input type="radio" name="type" id="type{{ forloop.counter }}" value="{{ type.id }}">
            <label for="type{{ forloop.counter }}">{{ type.type_text }}</label><br>
            {% endfor %}
            {% else %}
            No types are available
            {% endif %}
        </td>
        <td>
            {% csrf_token %}
            {% if choices %}
            <select id="choices" name="choices[]" multiple size="2">
                {% for choice in choices %}
                <option value="{{ choice.id }}">
                    {{ choice.choice_text }}
                </option>
                {% endfor %}
            </select>
            {% else %}
            No choices are available
            {% endif %}
        </td>
        <tr class="alt">
            <td>
                <input type="submit" value="Add">
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</form>
{% endblock %}